<!--
  The GA snippet
-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script>
  function loadGAonConsent() {
    // Load analytics code
    var ga = document.createElement('script'); ga.type = 'text/javascript'; 
    ga.async = true;
    ga.src = "https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics.id }}"
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

    (function() {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}

      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics.id }}');
    });
  }

  
</script>
